  .back {
    background: #0081A7;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
  }

  .subtitle{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .title {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3rem;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .spriteimg{
    height: 150px;
  }

  .pokemon-block{
    border-radius: 10px;
    padding: 10px;
    background-color: white;
  }

  .pokemon-block p {
    margin: 5px;
  }
  
  .name {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
  }
    
  #spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .pagination {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  
  .card-container {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .contenenedor{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: auto;
    height: 48px;
    background-color: white;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
  }

  .subcont{
    position: relative;
    width: 50%;
    height: 48px;
    background-color: white;
    display: flex;
    justify-content: center;
  }

  .imgstyle{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    height: 16px;
    width: 16px;
  }

  .parrafo{
    color: #212121;
    font-size: 16px;
    display: block;
    margin-top: 7px;
    margin-left: 5px;
  }

  .parrafo2{
    position: absolute;
    margin-left: 25px;
    left: 24px;
    bottom:2px;
    font-size: 12px;
    color:gray;
  }

  .textotipo{
    bottom: 0px;
  }

  .typescontainer{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 8px;
    gap: 16px;
    margin-top: 0;
    width: auto;
    height: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .types{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .pTipo{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-justify: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

    /* Barra de navegación */
    header {
      background: rgba(0,0,0,0.7);
      width: 100%;
      z-index: 50;
      margin-bottom: 20px;
    }
    
    nav {
      float: center;
    }
    
    nav ul {
      display: inline-block;
      list-style-type: none;
      margin: 20px;
    }
    
    nav ul li {
      float: inline-start;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
    }
    nav ul li a {
      /* display: block; */
      padding: 20px;
      color: #fff;
      text-decoration: none;
    }
    nav ul li:hover {
      background: #eca023;
    }