<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller 2 : PokeAPI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  </head>
<body class="back">
    <h1 class="title">Taller 2 - CPyD Sección 412</h1>
    <h2 class="subtitle">API Rest - PokeAPI</h2>
    
    <header>
      <nav id="nav">
        <ul>
          <li><a href="http://127.0.0.1:5000">Inicio</a></li>
          <li><a href="http://127.0.0.1:5000/pokes">Pokemones</a></li>
        </ul>
      </nav>
    </header>

    <form>
      Inicio: <input type="number"   class="col-sm-2 col-form-label" id="inicio" placeholder="De donde empieza..." onkeypress="return soloNumeros(event)" onpaste="return false" max="898" min="0" required="Ingrese un número hasta 830">
      Límite: <input type="number"  class="col-sm-2 col-form-label" id="final" placeholder="¿Cuántos quieres imprimir?"onkeypress="return soloNumeros(event)" onpaste="return false" min="1" required="Ingrese un numero mayor o igual a 1">
      <script>
        function soloNumeros(event){
            key=event.keycode || event.which;
            teclado=String.fromCharCode(key);
            numero="0123456789";
            especiales="8-37-38-46";
            teclado_especial=false;
            for(var i in especiales){
                if(key==especiales[i]){
                    teclado_especial=true;
                }
            }
            if(numero.indexOf(teclado)==-1 && !teclado_especial){
                return false;
            }
        }
      </script>
      <br><br>
      <input type="button" class="btn btn-success" value="Mostrar pokemones" onclick="verPokemones()">
    </form>

    <div class="container">

    </div>
    <div id="spinner" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
    <script src="./static/js/test.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>